<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="AdMobTest.AdMobTest">
	<application android:label="AdMobTest">
		<activity android:name="com.google.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
	</application>
	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="13" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>