<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="MonoDroidApplication3.MonoDroidApplication3" android:versionCode="1" android:versionName="1.0">
  <application android:label="Novell.DroidSamples.MineSweeper">
  </application>
  <uses-sdk minSdkVersion="4" />
</manifest>