<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="BluetoothChat.BluetoothChat">
	<application android:label="@string/app_name" android:icon="@drawable/icon" >
	</application>
	<uses-sdk />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
</manifest>