<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="2.0" package="Phoneword.Phoneword" android:installLocation="auto" android:versionCode="4">
	<uses-sdk android:minSdkVersion="21" />
	<application android:label="Phoneword" android:icon="@drawable/Icon"></application>
</manifest>