<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.1" package="Phoneword.Phoneword" android:installLocation="auto" android:versionCode="2">
	<uses-sdk android:minSdkVersion="21" />
	<application android:label="Phoneword"></application>
	<uses-permission android:name="android.permission.CALL_PHONE" />
</manifest>