<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="SpeedTracker.Wearable" android:installLocation="auto">
	<uses-sdk />
	<uses-feature android:name="android.hardware.type.watch" />
	<uses-feature android:name="android.hardware.location.gps" android:required="false" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<application android:label="Wearable" android:theme="@android:style/Theme.DeviceDefault" android:icon="@drawable/ic_launcher">
		<!--If you want your app to run on pre-22, then set required to false -->
		<uses-library android:name="com.google.android.wearable" android:required="false" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
</manifest>