<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="FindMyPhone.FindMyPhone">
	<uses-sdk android:minSdkVersion="20" />
	<application android:label="FindMyPhoneSample">
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version">
		</meta-data>
	</application>
	<uses-permission android:name="android.permission.VIBRATE" />
</manifest>