bin
obj
Components/
packages/
*/_ReSharper.*/*
*.user
*.suo
*.pidb
*.userprefs
*.Designer.cs
*.designer.cs
*.DS_Store
*Thumbs.db
ContentControls/ContentControls/Resources/Values/PrivateStrings.xml

/AndroidMapViewBalloons/android-mapviewballoons/
google-play-services_lib
/MapsAndLocationDemo_v2/update_play_services.sh
/MapsAndLocationDemo_v3/Components/
/OneABIPerAPK/.idea/

/OneABIPerAPK/obj.x86/
/OneABIPerAPK/obj.armeabi/
/OneABIPerAPK/obj.armeabi-v7a/
/OneABIPerAPK/bin.x86/
/OneABIPerAPK/bin.armeabi/
/OneABIPerAPK/bin.armeabi-v7a/

/OneABIPerAPK/Properties/AndroidManifest.xml.x86
/OneABIPerAPK/Properties/AndroidManifest.xml.armeabi-v7a
/OneABIPerAPK/Properties/AndroidManifest.xml.armeabi


FusedLocationProvider/\.vs/FusedLocationProvider/v15/Server/sqlite3/db\.lock

FusedLocationProvider/\.vs/FusedLocationProvider/v15/Server/sqlite3/storage\.ide

FusedLocationProvider/\.vs/FusedLocationProvider/v15/Server/sqlite3/storage\.ide-shm

FusedLocationProvider/\.vs/FusedLocationProvider/v15/Server/sqlite3/storage\.ide-wal

Location/\.vs/Location/v15/Server/sqlite3/
