bin
obj
*/_ReSharper.*/*
*.user
*.suo
*.pidb
*.userprefs
*.Designer.cs
*.designer.cs
*.DS_Store

ContentControls/ContentControls/Resources/Values/PrivateStrings.xml

/AndroidMapViewBalloons/android-mapviewballoons/
google-play-services_lib