<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="ScreenCapture.ScreenCapture">
	<uses-sdk />
	<application android:label="ScreenCapture" android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme">
	</application>
</manifest>