<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.xamarin.docs.android.mapsandlocationdemo3" android:versionName="4.10" android:versionCode="10">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="21" />
	<!-- Google Maps for Android v2 requires OpenGL ES v2 -->
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<!-- We need to be able to download map tiles and access Google Play Services-->
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- Allow the application to access Google web-based services. -->
	<!-- Google Maps for Android v2 will cache map tiles on external storage -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!-- Google Maps for Android v2 needs this permission so that it may check the connection state as it must download data -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<!-- These are optional, but recommended. They will allow Maps to use the My Location provider. -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<!-- Allow the application to access Google web-based services. -->
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
	<!--
	NOTE: you MUST follow the instructions on this page
	http://developer.xamarin.com/guides/android/platform_features/maps_and_location/maps/obtaining_a_google_maps_api_key/
	to get an API key for your specific debug.keystore SHA1 and package name.

	Update all the values below:
	* package name in the prefix of uses-permission element
	* package name in the prefix of permission element
	* API_KEY value obtained from https://console.developers.google.com/
	-->
	<!-- Notice here that we have the package name of our application as a prefix on the permissions. -->
	<uses-permission android:name="com.xamarin.docs.android.mapsandlocationdemo3.permission.MAPS_RECEIVE" />
	<permission android:name="com.xamarin.docs.android.mapsandlocationdemo3.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
	<application android:label="@string/app_name">
		<!-- Put your Google Maps V2 API Key here. This key will not work for you.-->
		<!-- See https://developers.google.com/maps/documentation/android/start#obtaining_an_api_key -->
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyD-pCT6O722nFl2uX1NiroF-q-meANX3fM" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
</manifest>