<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.xamarin.samples.basictableadapter" android:versionCode="1" android:versionName="1.0">
	<application android:label="BasicTableAdapter">
	</application>
	<uses-sdk />
</manifest>