<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="AgendaData.AgendaData">
	<uses-sdk android:minSdkVersion="20" />
	<uses-feature android:name="watch" android:required="true" />
	<application android:icon="@drawable/ic_launcher" android:label="AgendaData Wear Example" android:allowBackup="false">
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<activity android:name="android.support.wearable.activity.ConfirmationActivity" />
	</application>
</manifest>