<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="GridViewPager.GridViewPager">
	<uses-sdk />
	
	<uses-feature android:name="android.hardware.type.watch"></uses-feature>
	<application android:label="GridViewPager" android:theme="@android:style/Theme.DeviceDefault.Light">
	</application>
</manifest>