<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.xamarin.runtimepermissions" android:installLocation="auto">
	<!-- Note that all required permissions are declared here in the Android manifest.
     On Android M and above, use of these permissions is only requested at run time. -->
	<uses-permission android:name="android.permission.CAMERA" />
	<!-- The following permissions are only requested if the device is on M or above.
     On older platforms these permissions are not requested and will not be available. -->
	<uses-permission-sdk-m android:name="android.permission.READ_CONTACTS" />
	<uses-permission-sdk-m android:name="android.permission.WRITE_CONTACTS" />
	<application android:label="RuntimePermissions" android:icon="@mipmap/icon"></application>
	<uses-sdk android:minSdkVersion="21" />
</manifest>