<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="ElizaChat.ElizaChat">
	<application android:label="ElizaChat" android:icon="@drawable/ic_app_eliza">
	</application>
	<uses-sdk android:minSdkVersion="20" android:targetSdkVersion="21" />
</manifest>