<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.xamarin.bluetooth.le">
	<uses-sdk android:minSdkVersion="18" android:targetSdkVersion="18" />
	<!-- Declare this required feature if you want to make the app available to BLE-capable
    devices only.  If you want to make your app available to devices that don't support BLE,
    you should omit this in the manifest.  Instead, determine BLE capability by using
    PackageManager.hasSystemFeature(FEATURE_BLUETOOTH_LE) -->
	<uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
	<application android:label="Bluetooth LE Sample" android:icon="@drawable/icon">
	</application>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>