<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.xamarin.directboot">
	<uses-sdk android:minSdkVersion="23" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<application android:allowBackup="true" android:icon="@mipmap/icon" android:label="@string/app_name">
		<receiver android:name="com.xamarin.directboot.BootBroadcastReceiver" android:exported="false" android:directBootAware="true">
			<!-- Listening the BOOT_COMPLETED action for legacy pre-N devices -->
			<intent-filter>
				<action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<service android:name="com.xamarin.directboot.AlarmIntentService" android:exported="false" android:directBootAware="true" />
	</application>
</manifest>