<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="Support4.Support4">
	<application android:label="Support4" android:icon="@drawable/icon">
	</application>
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="12" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>