<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="DelayedConfirmation">
	<application android:label="Wearable">
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
	<uses-sdk android:minSdkVersion="20" android:targetSdkVersion="20" />
</manifest>