<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0" package="com.xamarin.samples.gameservices" android:versionCode="2">
	<uses-sdk android:minSdkVersion="16" />
	<!-- Google Maps for Android v2 requires OpenGL ES v2 -->
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<!-- We need to be able to download map tiles and access Google Play Services-->
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- We need to be able to get access to the accounts on the device for Google Play Services-->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<application android:label="Leaderboards And Achievements" android:icon="@drawable/icon">
		<meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/app_id" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
</manifest>