<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="GetMobileNetworkStrength.GetMobileNetworkStrength">
	<uses-sdk android:targetSdkVersion="19" />
	<application android:label="GetMobileNetworkStrength">
	</application>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
</manifest>