<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="2" package="com.xamarin.samples.location.fusedlocationprovider" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="23" />
	<application android:label="@string/app_name" android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:icon="@drawable/Icon">
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>