<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Android.Support.v4" version="23.4.0.1" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v7.Palette" version="23.4.0.1" targetFramework="monoandroid50" />
  <package id="Xamarin.GooglePlayServices.Base" version="32.4.0" targetFramework="monoandroid70" />
  <package id="Xamarin.GooglePlayServices.Basement" version="32.4.0" targetFramework="monoandroid70" />
  <package id="Xamarin.GooglePlayServices.Maps" version="32.4.0" targetFramework="monoandroid70" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="32.4.0" targetFramework="monoandroid70" />
</packages>