<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.xamarin.apprestrictions">
	<uses-sdk android:targetSdkVersion="18" android:minSdkVersion="18" />
	<application android:label="AppRestrictions" android:icon="@drawable/icon">
	</application>
</manifest>