<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.xamarin.autobackup">
	<application android:label="AutoBackup" android:allowBackup="true" android:fullBackupContent="@xml/backup" android:icon="@mipmap/icon">
	</application>
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23" />
</manifest>