<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="mono.samples.apidemo" android:versionCode="1" android:versionName="1.0" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_CONTACTS" />
	<uses-permission android:name="android.permission.SET_WALLPAPER" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.NFC" />
	<!-- For android.media.audiofx.Visualizer -->
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<!-- We will request access to the camera, saying we require a camera
         of some sort but not one with autofocus capability. -->
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.TRANSMIT_IR" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
	<application android:label="API Demo (XA)" android:hardwareAccelerated="true" android:supportsRtl="true" android:icon="@drawable/icon">
		<!-- This is how we can request a library but still allow the app
             to be installed if it doesn't exist. -->
		<uses-library android:name="com.example.will.never.exist" android:required="false" />
		<!---                                        -->
		<!--- Enable activities based on @BOOL value -->
		<!---                                        -->
		<!--  Animation examples  -->
		<activity android:label="Animation/Simple Transitions" android:name="monodroid.apidemo.Transitions" android:enabled="@bool/atLeastKitKat">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="mono.apidemo.sample" />
			</intent-filter>
		</activity>
		<!---					  -->
		<!--  	App examples      -->
		<activity android:label="@string/action_bar_display_options" android:name="monodroid.apidemo.ActionBarDisplayOptionsActivity" android:logo="@drawable/apidemo_androidlogo" android:enabled="@bool/atLeastHoneycomb">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="mono.apidemo.sample" />
			</intent-filter>
		</activity>
		<activity android:label="@string/action_bar_mechanics" android:name="monodroid.apidemo.ActionBarMechanics" android:enabled="@bool/atLeastHoneycomb">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="mono.apidemo.sample" />
			</intent-filter>
		</activity>
		<activity android:label="@string/action_bar_settings_action_provider" android:name="monodroid.apidemo.ActionBarSettingsActionProviderActivity" android:enabled="@bool/atLeastIceCreamSandwich">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="mono.apidemo.sample" />
			</intent-filter>
		</activity>
		<activity android:label="@string/action_bar_share_action_provider" android:name="monodroid.apidemo.ActionBarShareActionProviderActivity" android:enabled="@bool/atLeastIceCreamSandwich">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="mono.apidemo.sample" />
			</intent-filter>
		</activity>
		<activity android:label="@string/activity_recreate" android:name="monodroid.apidemo.ActivityRecreate" android:enabled="@bool/atLeastHoneycomb">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="mono.apidemo.sample" />
			</intent-filter>
		</activity>
		<activity android:label="@string/activity_alert_dialog" android:name="monodroid.apidemo.AlertDialogSamples" android:enabled="@bool/atLeastHoneycomb">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="mono.apidemo.sample" />
			</intent-filter>
		</activity>
		<activity android:label="@string/print_html_from_screen" android:name="monodroid.apidemo.PrintHtmlFromScreen" android:enabled="@bool/atLeastKitKat">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="mono.apidemo.sample" />
			</intent-filter>
		</activity>
		<activity android:label="@string/print_html_off_screen" android:name="monodroid.apidemo.PrintHtmlOffScreen" android:enabled="@bool/atLeastKitKat">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="mono.apidemo.sample" />
			</intent-filter>
		</activity>
		<activity android:label="@string/print_custom_content" android:name="monodroid.apidemo.PrintCustomContent" android:enabled="@bool/atLeastKitKat">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="mono.apidemo.sample" />
			</intent-filter>
		</activity>
		<!-- Application Updating Samples -->
        <receiver android:name="monodroid.apidemo.AppUpdateSspReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" android:ssp="monodroid.apidemo" />
            </intent-filter>
        </receiver>
		<!---					  -->
		<!--  Hardware examples   -->
		<activity android:label="Hardware/Consumer IR" android:name="monodroid.apidemo.ConsumerIr" android:enabled="@bool/atLeastKitKat">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="mono.apidemo.sample" />
			</intent-filter>
		</activity>
		<!---					  -->
		<!--  	View examples     -->
		<activity android:label="Views/System UI Visibility/Content Browser" android:name="monodroid.apidemo.ContentBrowserActivity"
				android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
				android:uiOptions="splitActionBarWhenNarrow"
		        android:enabled="@bool/atLeastJellyBean">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="mono.apidemo.sample" />
			</intent-filter>
		</activity>
		<activity android:label="Views/System UI Visibility/Content Browser Nav Bar" android:name="monodroid.apidemo.ContentBrowserNavActivity"
				android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
                android:uiOptions="splitActionBarWhenNarrow"
                android:enabled="@bool/atLeastKitKat">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="mono.apidemo.sample" />
			</intent-filter>
		</activity>
		<activity android:label="Views/System UI Visibility/Game" android:name="monodroid.apidemo.GameActivity"
                android:theme="@android:style/Theme.Holo.NoActionBar"
                android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize"
                android:enabled="@bool/atLeastKitKat">
            <intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="mono.apidemo.sample" />
			</intent-filter>
        </activity>
		<activity android:label="Views/Grid/3. Selection Mode" android:name="monodroid.apidemo.Grid3" android:enabled="@bool/atLeastHoneycomb">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="mono.apidemo.sample" />
			</intent-filter>
		</activity>
		<activity android:label="Views/Layouts/GridLayout/1. Simple Form" android:name="monodroid.apidemo.GridLayout1" android:enabled="@bool/atLeastIceCreamSandwich">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="mono.apidemo.sample" />
			</intent-filter>
		</activity>
		<activity android:label="Views/Layouts/GridLayout/2. Form (XML)" android:name="monodroid.apidemo.GridLayout2" android:enabled="@bool/atLeastIceCreamSandwich">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="mono.apidemo.sample" />
			</intent-filter>
		</activity>
		<activity android:label="Views/Layouts/GridLayout/3. Form (Java)" android:name="monodroid.apidemo.GridLayout3" android:enabled="@bool/atLeastIceCreamSandwich">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="mono.apidemo.sample" />
			</intent-filter>
		</activity>
		<activity android:label="Views/Lists/15. Selection Mode" android:name="monodroid.apidemo.List15" android:enabled="@bool/atLeastHoneycomb">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="mono.apidemo.sample" />
			</intent-filter>
		</activity>
		<activity android:label="Views/Lists/16. Border Selection Mode" android:name="monodroid.apidemo.List16" android:enabled="@bool/atLeastHoneycomb">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="mono.apidemo.sample" />
			</intent-filter>
		</activity>
		<activity android:label="Views/Lists/17. Activate Items" android:name="monodroid.apidemo.List17" android:enabled="@bool/atLeastHoneycomb">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="mono.apidemo.sample" />
			</intent-filter>
		</activity>
	</application>
</manifest>