<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="monodroid.apidemo.apidemo" android:versionCode="1" android:versionName="1.0">
  <application android:label="MonoDroidApiDemo">
    <activity android:name="monoDroid.apiDemo.ApiDemo" android:label="MonoDroid ApiDemo">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="monoDroid.apiDemo.Transition3d" android:label="Animation/Transition3d">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>
    <activity android:name="monoDroid.apiDemo.NotifyWithText" android:label="App/NotifyWithText">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>
    <activity android:name="monoDroid.apiDemo.TranslucentBlurBackground" android:label="App/TranslucentBlurBackground">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>
    <activity android:name="monoDroid.apiDemo.TranslucentBackground" android:label="App/TranslucentBackground">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>
    <activity android:name="monoDroid.apiDemo.ResourcesSample" android:label="Content/ResourcesSample">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>
    <activity android:name="monoDroid.apiDemo.StyledText" android:label="Content/StyledText">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>
    <activity android:name="monoDroid.apiDemo.Marquee" android:label="Text/Marquee">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>
    <!--<activity android:name="monoDroid.apiDemo.Sensors" android:label="OS/Sensors">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>-->
    <activity android:name="monoDroid.apiDemo.MorseCode" android:label="OS/Morse Code">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>
    <activity android:name="monoDroid.apiDemo.Linkify" android:label="Text/Linkify">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>
    <activity android:name="monoDroid.apiDemo.CameraPreview" android:label="Graphics/CameraPreview">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.SAMPLE_CODE" />
      </intent-filter>
    </activity>
  </application>
  <uses-sdk android:minSdkVersion="4" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.CAMERA" />
</manifest>