<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
  android:versionCode="1" android:versionName="1.0" 
  package="GooglePlayServicesTest.GooglePlayServicesTest">
	<uses-sdk />
	<application android:label="GooglePlayServicesTest">
	  <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="INSERT YOUR API KEY HERE" />
	</application>
</manifest>