<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="2.0" package="com.xamarin.sample.splashscreen" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="@string/ApplicationName" android:theme="@style/MyTheme" android:icon="@mipmap/ic_launcher"></application>
</manifest>