<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.xamarin.locationupdates" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="10" />
	<application android:allowBackup="true" android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/AppTheme"></application>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>