<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:installLocation="auto" android:versionName="1" package="com.xamarin.example.tabhostwalkthrough">
	<uses-sdk android:targetSdkVersion="8" />
	<application android:label="@string/app_name"></application>
</manifest>