<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.2.1" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v4" version="23.2.1" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.2.1" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.2.1" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Analytics" version="29.0.0.1" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Basement" version="29.0.0.1" targetFramework="MonoAndroid50" />
</packages>